<h1>Welcome Home</h1>
<a href="/login" class="btn btn-primary">Login</a>

{{#if loggined}}
<a href="/userlogout" class="btn btn-primary">Logout</a>
{{/if}}



login


<section class="vh-100 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-3" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form action="/login" method="post">
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="pword" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Didn't have an account? <a href="/signup" class="fw-bold text-body"><u>Signup</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


vendorlogin


<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-3" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login-Vendors</h2>

              <form action="/vendor/vendorlogin" method="post">
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="pword" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Didn't have an account? <a href="/vendor/signup" class="fw-bold text-body"><u>Signup</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


vendorlogin 2

<section class="main vh-100">

        
        <div class="content-w3ls">
            <div class="text-center icon">
              <h1 style="color: white; font-weight: 500;">smart<span style="color: rgb(216, 74, 9);">C</span>art</h1>
            </div>

            <div class="content-bottom">
                <form action="/login" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="email" id="text1" type="text" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="pword" id="myInput" type="Password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                    {{!-- <ul class="list-login">
                        <li class="switch-agileits">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                keep Logged in
                            </label>
                        </li>
                        <li>
                            <a href="#" class="text-right">forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul> --}}
                    <ul class="list-login-bottom" style="text-align: center;">
                        <li class="mt-5">
                            <a href="/signup" class="">Create Account</a>
                        </li>
                        {{!-- <li class="">
                            <a href="#url" class="text-right">Need Help?</a>
                        </li> --}}
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>
        </div>
    </section>



    admin page

    <h1>Admin Page</h1>
<a href="/admin/adminlogout" class="btn btn-danger">Logout</a>


vendor Page

<h1>Vendor home</h1>

<a href="/vendor/logout" class="btn btm-primary">Logout</a>

<a href="/vendor/addproduct">Add product</a>


<li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>



vendor add product


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container register">
                <div class="row">
                    
                    <div class="col-md-9">
                        <form action="/vendor/addproduct" method="post" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add your product</h3>
                                <div class="row register-form">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group mt-4">
                                             <label>Product:</label>
                                            <input type="text" class="form-control" name="product">
                                        </div>
                                        <div class="form-group mt-4">
                                            <label >Brand:</label>
                                             <select class="selectpicker form-control" name="brand">
                                             <option>Iphone</option>
                                             <option>Samsung</option>
                                             <option>Oneplus</option>
                                             <option>Oppo</option>
                                             <option>Huwei</option>
                                             </select>
                                        </div>
                                        <div class="form-group mt-4">
                                             <label >Price:</label>
                                            <input type="text" class="form-control" name="price"/>
                                        </div>
                                        <label class="mt-4">Upload product images:</label>

                                         <input type="file" name="productimages" multiple>
                                        
                                       
                                    </div>
                                    <div class="col-12 col-lg-6">
                                       
                                        <div class="form-group mt-4">
                                             <label for="category">Category:</label>
                                             <select class="selectpicker form-control" name="category">
                                             <option>Mobiles</option>
                                             <option>Laptops</option>
                                             <option>Cameras</option>
                                             <option>Television</option>
                                             <option>Accessories</option>
                                             <option>Gaming Consoles</option>
                                             </select>
                                        </div>
                                        <div class="form-group mt-4">
                                             <label>Stock Details:</label>
                                             <select class="selectpicker form-control" name="stock">
                                             <option>In stock</option>
                                             <option>Out of stock</option>
                                             </select>
                                        </div>
                                        <div class="form-group mt-4">
                                             <label >Company Id:</label>
                                            <input type="text" class="form-control" name="companyid" value={{vendorid}} readonly>
                                        </div>
                                        	
                                        <input type="submit" class="btnRegister"  value="Add Product"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>



             $("#vendorsignup").validate({
      rules: {
         vname:{
            required:true
         },
         email: {
            required: true,
            myemail:true
         },
         mobile:{
            required:true,
            minlength:10
         },
         pword:{
             required: true,
             minlength:6,
             mypassword:true
         },
         repeatpword:{
           required: true,
           equalTo:'#psword'
       },
       address:{
          required:true
       },
       license:{
          required:true
       }
      },
      messages:{
         email:{
            myemail:'Enter a valid email'
         },
         pword:{
            mypassword:'Password should contain alphabets and numbers'
         },
         prepeat:{
            equalTo:'Enter the same password'
         }
      }
   })




   <section class="vh-100">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card m-5" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="/signup" method="post" id="usersignup">
              {{#if registereduser}}
                <p class="mb-3 text-danger">Email / Mobile Number is already registered</p>
                {{/if}}
                <div class="form-outline mb-2">
                  <label class="form-label" >Your Name</label>
                  <input type="text" name="fname" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" >Your Email</label>
                  <input type="email" name="email" class="form-control form-control-lg" />
                </div>
                 <div class="form-outline mb-2">
                  <label class="form-label" >Mobile Number</label>
                  <input type="text" maxlength="10" minlength="10" name="mobile" class="form-control form-control-lg numbers">
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" >Password</label>
                  <input type="password" id="psword" name="pword" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" >Repeat your password</label>
                  <input type="password" name="repeatpword" class="form-control form-control-lg" />
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  
                  <label class="form-check-label" for="form2Example3g">
                    By signing up you agreeing all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
</script>