

<section class="py-5 my-5">
    <div class="container-fluid">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="profile-tab-nav border-right">

                        <div class="p-4">
                            <div class="img-circle text-center mb-3">
                                <img src="/User-Profile-Pics/{{userId}}.jpg" alt="Image" class="shadow"
                                    id="userprofilepic">
                            </div>
                            <h4 class="text-center">{{username}}</h4>
                        </div>
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link profilelinks" id="account-tab"  href="/userprofile" role="tab"
                                aria-controls="account" aria-selected="true">
                                <i class="fa fa-home text-center mr-1"></i>
                                Account
                            </a>
                            <a class="nav-link profilelinks" id="password-tab" href="" role="tab"
                                aria-controls="password" aria-selected="false">
                                <i class="fa fa-key text-center mr-1"></i>
                                Password
                            </a>
                            <a class="nav-link profilelinks" id="security-tab" href="/userlogout" role="tab"
                                aria-controls="security" aria-selected="false">
                                <i class="fa fa-user text-center mr-1"></i>
                                Logout
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9">
                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        
                        <div  id="password" role="tabpanel" aria-labelledby="password-tab">
                                   
                                   
                     <form action="/changepassword" method="post" id="changepassword">
                            <h3 class="mb-4">Password Setting</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <label>Old password</label>
                                        <input type="password" name="oldpword" class="form-control" id="change-pword-input">
                                        {{#if pwordNoMatch}}
                                        <p class="mt-1">The old password doesn't match! Try again.. </p>
                                        {{/if}}
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                   
                                        <label>New password</label>
                                        <input type="password" name="newpword" class="form-control" id="newpsword">
                                   
                                </div>
                                <div class="col-md-12 mt-4">
                                   
                                        <label>Confirm new password</label>
                                        <input type="password" name="newrepeatpword" class="form-control" id="change-pword-input">
                                    
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a href=""  class="btn btn-light">Cancel</a>
                            </div>
                            </form>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



